
<!DOCTYPE html>
<html lang="{{ meta.mainLanguage }}">
    <head>
        <title>Нічого немає</title>
        <link href="/styles/digital-garden-base.css" rel="stylesheet">
        {%-if meta.themeStyle%}
            <link href="/styles/obsidian-base.css" rel="stylesheet">
    	    <link href="{{meta.themeStyle}}" rel="stylesheet">
        {% else %}
            <link href="/styles/style.css" rel="stylesheet">
        {%endif%}

        <link href="/styles/custom-style.css" rel="stylesheet">
        
    </head>
    <body class="theme-{{meta.baseTheme}} markdown-preview-view">
        <div class="content centered">

            {%-if not meta.themeStyle%}
                <div class="font-bg"> &#x1F60E; </div>
            {%endif%}
            <h1>Тут нічого немає</h1>
            <p>Якщо ви потрапили сюди за посиланням, ця замітка, ймовірно, не оприлюднена</p>
            <a href="/">На головну</a>
        </div>
    </body>
</html>
